.navbar-brand {
    font-size: 2rem;
    color: #fff;
  }
  .nav-item {
    font-size: 1.15rem;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  @media (min-width: 992px) {
    .table th {
        font-size: 1.5rem !important;
     }
  
    .table td {
      font-size: 1.4rem !important;
      font-weight: 600;
    }
  }