{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
   
    <table class="table table-hover my-3" width="100%" style="min-height: 70vh; overflow: hidden;">
      <thead>
          <tr style="height: 10px;">
              <td ><p class="title_font"><strong>PK</strong></p></td>
              <td ><p class="title_font"><strong>Name</strong></p></td>
              <td ><p class="title_font"><strong>Net P&L</strong></p></td>
              <td ><p class="title_font"><strong>Buy P&L</strong></p></td>
              <td ><p class="title_font"><strong>Sell P&L</strong></p></td>
              <td ><p class="title_font"><strong>PT vs LT</strong></p></td>
              <td ><p class="title_font"><strong>Total Trade</strong></p></td>
              <td ><p class="title_font"><strong>Start date</strong></p></td>
              <td ><p class="title_font"><strong>End date</strong></p></td>
              <td ><p class="title_font"><strong>Max, DD</strong></p></td>
          </tr>
      </thead>
      <tbody>
         
          <tr >
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           
        </tr>
      </tbody>
  </table>
</div>


{% endblock content %}