{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 pt-5">
            <table class="table table-hover" width="100%" style="min-height: 70vh; overflow: hidden;">
                <thead>
                    <tr style="height: 10px;">
                        <td><p class="title_font"><strong>First Name</strong></p></td>
                        <td><p class="title_font"><strong>Last Name</strong></p></td>
                        <td><p class="title_font"><strong>User Name</strong></p></td>
                        <td><p class="title_font"><strong>Email</strong></p></td>
                        <td><p class="title_font"><strong>Status</strong></p></td>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in object_list %}
                    <tr style="height: 10px;">
                        <td>{{ obj.first_name }}</td>
                        <td>{{ obj.last_name }}</td>
                        <td>{{ obj.username }}</td>
                        <td>{{ obj.email }}</td>
                        <td>{{ obj.is_active }}</td>
                    </tr>
                    {% endfor %}
                    <tr >
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}